body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "courier";
}

h1 {
    margin: 50px;
    font-size: 40px;
}

a {
    color: #fcff05;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 25px;
}

.topo {
    background-color: #fcff05;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;
    border: 10px solid black;
}

.meio {
    background-color: black;
    flex: 1;
    display: flex;
    align-items: top;
    justify-content: left;
}

.treinoA,
.treinoB,
.treinoC {
    margin: 20px;
    margin-top: 50px;
}